.game_page_content {
	display: flex;
	color: white;
}
.game_page_left {
	width: 50%;
	margin-left: 150px;
}
.game_page_right {
	width: 30%;
}
.game_page_buy_game {
	display: flex;
	justify-content: flex-end;
}

.game_page_title {
	color: white;
}
